/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	/* colors */
  /* https: //brand.illinois.edu/visual-identity/color#hosted-brand-assets-for-web */
  --primary-color: rgb(19, 41, 75);     /* illini blue */
  --focus-color: #c84113;               /* altgeld orange */
	--secondary-color: #707372;           /* storm (gray) */
  --secondary-color-medium: #9C9A9D;    /* storm (light gray) */
  --secondary-color-light: #C8C6C7;     /* storm (lighter gray) */
  --supporting-color: rgb(29, 88, 167); /* industrial (light blue) */
  --supporting-color-light: rgba(29, 88, 167, 0.1);
	--background-color: #f4f4f4;          /* il-storm-95 (light gray) */
	--body-color: #252525;                /* il-storm-10 (dark gray) */
  --background-card-color: var(--supporting-color-light);

	/* fonts */
  /* https: //cdn.brand.illinois.edu/fonts.html */
  --font-heading: var(--il-font-montserrat);
  --font-body: var(--il-font-source-sans);
  --font-quote: var(--il-font-georgia);

	/* sizes */
  --largest-width: 1400px;
	--large-width: 1200px;
  --medium-width: 900px;
  --small-width: 820px;

  /* --box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%); */
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--primary-color);
  font-family: var(--font-heading);
	line-height: 1.2;
  margin: 0 0 0.5rem 0;
}
h1 {
  /* titles */
  /* Minor Third scale */
  font-size: 2.986rem;
  /* Major Second scale */
  /* font-size: 2.027rem; */
  text-transform: uppercase;
}
h2 {
  /* section headings */
  font-size: 2.488rem;
  /* font-size: 1.802rem; */
  text-transform: uppercase;
}
h3 {
  /* subsection headings */
  font-size: 2.074rem;
  /* font-size: 1.602rem; */
  text-transform: uppercase;
}
h4 {
  /* subtitles */
  font-size: 1.728rem;
  /* font-size: 1.424rem; */
}
h5 {
  /* captions */
  font-size: 1.44rem;
  /* font-size: 1.266rem; */
}
h6 {
  font-size: 1.2rem;
  /* font-size: 1.125rem; */
}
p {
  font-size: 20px;
  margin-bottom: 1em;
}

strong,
a {
	color: var(--supporting-color);
  text-decoration: underline;
}
a:hover {
	color: var(--focus-color);
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: var(--gray-light);
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0;
	font-family: var(--il-font-serif);
	font-size: 1.333em;
}
hr {
	border: none;
  border-top: 1px solid var(--supporting-color-light);
  margin: 1em 0em 2em 0em;
}
@media screen and (max-width: 820px) {
  body {
    font-size: 18px;
    padding: 0.5em;
  }
}
.button {
  background-color: var(--primary-color);
  border-radius: 12px;
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  /* transition: background-color 0.3s ease; */
}
.button:hover {
  background-color: var(--focus-color);
  cursor: pointer;
}
a.button {
  color: white;
  /* text-transform: uppercase; */
}
.highlight {
  color: var(--focus-color);
  font-weight: bold;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
