/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	/* colors */
	--black: rgb(15, 18, 25);
	--gray: rgb(96, 115, 159);
	--gray-light: rgb(229, 233, 240);
	--gray-dark: rgb(34, 41, 57);
	--gray-gradient:linear-gradient(rgba(var(--gray-light), 50%), #fff) no-repeat;
	--il-storm: #707372;
	--il-storm-light: #9C9A9D;
	--il-storm-lighter: #C8C6C7;

	/* color variables */
	--secondary-color: var(--il-storm);
	--background-color: var(--il-storm-95);
	--body-color: var(--il-storm-10);
	--heading-color: var(--il-blue);
	--focus-color: var(--il-altgeld);

	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px
		rgba(var(--gray), 33%);

	/* fonts */
  --font-body: var(--il-font-sans);
  --font-heading: var(--il-font-heading);

	/* sizes */
  --largest-width: 1400px;
	--large-width: 1200px;
  --medium-width: 900px;
  --small-width: 820px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--heading-color);
  font-family: var(--font-heading);
	line-height: 1.2;
  margin: 0 0 0.5rem 0;
}
h1 {
  /* titles */
	color: var(--heading-color);
	font-family: var(--font-heading);
	/* font-size: 3.052em; */
  font-size: 2.986rem;
}
h2 {
  /* section headings */
	color: var(--heading-color);
	font-family: var(--font-heading);
	/* font-size: 2.441em; */
  font-size: 2.488rem;
}
h3 {
  /* subsection headings */
	color: var(--heading-color);
	font-family: var(--font-heading);
	/* font-size: 1.953em; */
  font-size: 2.074rem;
}
h4 {
  /* subtitles */
	color: var(--heading-color);
	font-family: var(--font-heading);
	/* font-size: 1.563em; */
  font-size: 1.728rem;
}
h5 {
  /* captions */
	color: var(--heading-color);
	font-family: var(--font-heading);
	/* font-size: 1.25em; */
  font-size: 1.44rem;
}
h6 {
  font-size: 1.2rem;
}
p {
  font-size: 20px;
  margin-bottom: 1em;
}

strong,
b {
	font-weight: 700;
}
a {
	color: var(--body-color);
  text-decoration: underline;
}
a:hover {
	color: var(--focus-color);
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: var(--gray-light);
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0;
	font-family: var(--il-font-serif);
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid var(--gray-light);
  margin: 1em 0em 2em 0em;
}
@media screen and (max-width: 820px) {
  body {
    font-size: 18px;
    padding: 0.5em;
  }
}

.highlight {
  color: var(--focus-color);
  font-weight: bold;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
