---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { Picture } from "astro:assets";
import heroImage from "../assets/research/drone.png";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="home-intro-container">
    <div class="home-intro">
      <h1>Lab for Intelligent Robots and Agents (LIRA)</h1>
    </div>
    <!-- <div class="home-hero-image">
      <Picture src={heroImage} alt="Drone flight" />
    </div> -->
  </div>
  <div class="home-description">
    <p>
      Welcome to the <span class="highlight">L</span>ab for
      <span class="highlight">I</span>ntelligent
      <span class="highlight">R</span>obots and
      <span class="highlight">A</span>gents (LIRA)! Our goal is to advance
      research on autonomous and intelligent systems with a focus on robots that
      interact with each other and humans. We primarily work at the intersection
      of robotics, artificial intelligence, and multi-agent systems, though we
      draw inspiration from other fields as well.
    </p>
    <p>Check out our research to learn more!</p>
  </div>
</BaseLayout>
<style>
  .home-intro-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0 auto;
    max-width: var(--large-width);
  }
  .home-intro h1 {
    
    text-align: left;
  }
  .home-description {
    margin: 0 auto;
    max-width: var(--medium-width);
    text-align: center;
  }
  .highlight {
    color: var(--focus-color);
    font-weight: bold;
  }
  @media (max-width: 820px) {
    .home-intro-container {
      flex-direction: column;
    }
  }
</style>
