---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSimple from "../components/HeroSimple.astro";
import NewsList from "../components/NewsList.astro";
import heroImage from "../assets/research/drone.png";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} bodyWidth="400px">
  <div class="hero-container">
    <HeroSimple
      title="Lab for Intelligent Robots and Agents"
      subtitle="Advancing autonomy through interdisciplinary research."
      heroUrl={heroImage}
      heroAlt="Drone flight"
      width={400}
    />
  </div>
  <div class="home-description">
    <p>
      Welcome to the <span class="highlight">L</span>ab for
      <span class="highlight">I</span>ntelligent
      <span class="highlight">R</span>obots and
      <span class="highlight">A</span>gents (LIRA)! Our goal is to advance
      research on autonomous and intelligent systems with a focus on robots that
      interact with each other and humans. We primarily work at the intersection
      of robotics, artificial intelligence, and multi-agent systems, though we
      draw inspiration from other fields as well.
    </p>
    <p>Check out our <a href="/projects">projects</a> to learn more!</p>
  </div>
  <div class="news-container">
    <h2>Latest news</h2>
    <NewsList maxItems={5} />
  </div>
</BaseLayout>
<style>
  .hero-container {
    margin: 0 auto;
    max-width: var(--large-width);
  }
  .home-description {
    margin: 0 auto;
    max-width: var(--medium-width);
    text-align: center;
  }
  .news-container {
    margin: 0 auto;
    max-width: var(--large-width);
  }
</style>
