---
import PageLayout from "../layouts/PageLayout.astro";
import TeamMember from "../components/TeamMember.astro";
import { getCollection } from "astro:content";

let pis = await getCollection("team", ({ data }) => {
  return data.position === "PI";
});
pis = pis.sort(
  (b, a) =>
    new Date(b.data.dateJoined).valueOf() -
    new Date(a.data.dateJoined).valueOf(),
);
let grads = await getCollection("team", ({ data }) => {
  return data.position === "Graduate Student";
});
grads = grads.sort(
  (b, a) =>
    new Date(b.data.dateJoined).valueOf() -
    new Date(a.data.dateJoined).valueOf(),
);
let alumnus = await getCollection("team", ({ data }) => {
  return data.position === "Alumnus";
});
alumnus = alumnus.sort(
  (b, a) =>
    new Date(b.data.dateJoined).valueOf() -
    new Date(a.data.dateJoined).valueOf(),
);
---

<PageLayout>
  <h3>Principal Investigator</h3>
  {
    pis.map((pi) => {
      return <TeamMember member={pi} />;
    })
  }
  <hr />
  <h3>Graduate Students</h3>
  {
    grads.map((grad) => {
      return <TeamMember member={grad} />;
    })
  }
  <hr />
  <h3>Alumnus</h3>
  {
    alumnus.map((alumni) => {
      return <TeamMember member={alumni} />;
    })
  }
</PageLayout>
<style>
  h3 {
    margin: 0em 0em 1em 0em;
  }
</style>
