---
import PageLayout from "../layouts/PageLayout.astro";
import TeamMember from "../components/TeamMember.astro";
import { getCollection } from "astro:content";

const pis = await getCollection("team", ({ data }) => {
  return data.position === "PI";
});
const gradMembers = await getCollection("team", ({ data }) => {
  return data.position === "Graduate Student";
});
---

<PageLayout>
  <h3>Principal Investigator</h3>
  {
    pis.map((pi) => {
      return (
        <TeamMember member={pi}/>
      );
    })
  }
  <hr />
  <h3>Graduate Students</h3>
  {
    gradMembers.map((gradMember) => {
      return (
        <TeamMember member={gradMember}/>
      );
    })
  }
  <style>
    h3 {
      margin: 0.5em 0em;
    }
  </style>
</PageLayout>
