---
import { Icon } from 'astro-icon/components';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Huy T. Tran. All rights reserved.
	<div class="social-links">
		<a href="mailto:huytran1@illinois.edu" target="_blank">
			<span class="sr-only">Email us</span>
			<Icon name="envelope-solid-full" width="36" height="36" aria-hidden="true" />
		</a>
		<a href="https://scholar.google.com/citations?user=TgaPukcAAAAJ&hl=en" target="_blank">
			<span class="sr-only">Visit our Google Scholar profile</span>
			<Icon name="google-scholar-brands-solid-full" width="36" height="36" aria-hidden="true" />
		</a>
		<a href="https://github.com/lira-illinois" target="_blank">
			<span class="sr-only">Visit our GitHub repo</span>
			<Icon name="github-brands-solid-full" width="36" height="36" aria-hidden="true" />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		color: var(--text-secondary);
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		color: var(--text-secondary);
	}
	.social-links a:hover {
		color: var(--color-primary);
	}
</style>
