---
import Logo from "./Logo.astro";
import Nav from "./Nav.astro";
---

<header>
  <div class="logo">
	  <Logo/>
  </div>
  <Nav />
</header>
<style>
  header {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: var(--large-width);
    padding: 2em 0em;
  }
  @media screen and (max-width: 820px) {
    header {
      /* padding: 2em 0; */
    }
	.logo {
      display: none;
	}
  }
</style>
