---
import { Picture } from "astro:assets";
const { title, subtitle, heroUrl, heroAlt, heroWidth } = Astro.props;
---

<div class="hero-container">
  <div class="hero-text">
    <h1>{title}</h1>
    {subtitle && <h4>{subtitle}</h4>}
  </div>
  <div class="hero-image">
    <Picture src={heroUrl} alt={heroAlt} layout="constrained" width={400} />
  </div>
</div>
<style>
  .hero-container {
    display: flex;
    flex: 1;
    margin: 0 auto;
    text-align: left;
  }
  .hero-text {
    padding-right: 2em;
  }
  .hero-text h4 {
    padding: 1em 0em;
  }
  .hero-image {
    /* display: flex; */
    /* justify-content: center; */
  }
  @media (max-width: 820px) {
    .hero-container {
      flex-direction: column;
    }
  }
</style>
