---
const { href } = Astro.props;
import { SITE_TITLE } from '../consts';
---

<a href="/">{SITE_TITLE}</a>
<style>
  a {
	color: var(--heading-color);
    font-weight: bolder;
    padding: 0em 0.5em;
    text-decoration: none;
  }
</style>
