---
import { SITE_TITLE } from '../consts';
---

<a href="/">{SITE_TITLE}</a>
<style>
  a {
	color: var(--heading-color);
    font-weight: bolder;
    padding: 0;
    text-decoration: none;
  }
</style>
