---
import HeaderLink from "./HeaderLink.astro";
---

<nav>
  <HeaderLink href="/">Home</HeaderLink>
  <HeaderLink href="/team">Team</HeaderLink>
  <HeaderLink href="/projects">Projects</HeaderLink>
  <HeaderLink href="/news">News</HeaderLink>
</nav>
<style>
  nav {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
</style>
