---
import ProjectCard from "./ProjectCard.astro";
interface Props {
  projectSlugs: string[];
}
const { projectSlugs } = Astro.props;
---

<div class="project-cards">
  {
    projectSlugs.map((projectSlug) => {
      return (
        <ProjectCard
          projectTitle={projectSlug.toUpperCase()}
          projectSubtitle={"Lorem ipsum dolor sit amet, consectetur adipiscing elit."}
          imageUrl={`/src/assets/research/${projectSlug}`}
          imageAlt={projectSlug.toUpperCase()}
          imageHeight={75}
        />
      );
    })
  }
</div>
<style>
  .project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-evenly;
    margin-top: 1em;
  }
</style>
