---
import { getCollection, render } from "astro:content";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import Funding from "../../components/Funding.astro";

export async function getStaticPaths() {
  const posts = await getCollection("projects");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<ProjectLayout {...post.data}>
  <Content />
  <hr />
  {post.data.funding && 
  <h5>Funding</h5>
  <p>This work was funded in part by {post.data.funding}.</p>
  <Funding fundingSlugs={post.data.fundingSlugs || []} />}
</ProjectLayout>
