---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    background: var(--background-color);
    /* background-size: 100% 600px; */
    color: var(--body-color);
    font-family: var(--font-body);
    font-size: 20px;
    line-height: 1.6;
    margin: 0 auto;
    max-width: var(--largest-width);
    overflow-wrap: break-word;
    padding: 2em 2em;
    text-align: left;
    word-wrap: break-word;
  }
  main {
    /* margin: 0 auto; */
    /* max-width: var(--largest-width); */
    /* padding: 0 0em; */
  }
</style>
